# Environment variables
BOT_TOKEN=YOUR_BOT_TOKEN_HERE
ADMIN_IDS=YOUR_ADMIN_TELEGRAM_ID_HERE

# Bank accounts
BANK_AFFIN_NAME=FARHAN CATERING ENTERPRISE
BANK_AFFIN_ACCOUNT=100180018799
BANK_RHB_NAME=FARHAN CATERING ENTERPRISE
BANK_RHB_ACCOUNT=25305200039496

# Minimum deposit
MIN_DEPOSIT=30

# Affiliate link for registration
AFFILIATE_LINK=https://99laju.net/register?affiliate=911295
